.features {
  display: flex;
  margin: 20px auto;
  margin-top: 200px;
  gap: 86px;
  max-width: 1240px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 190%;
    text-transform: uppercase;
    color: #b0b0c0;
    flex: none;
    order: 0;
    text-align: center;
    flex-grow: 0;
  }
  &__content p {
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 130%;
    color: #181b32;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  &__bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 126px;
    @media (max-width: 1200px) {
      gap: 50px;
    }
    @media (max-width: 1000px) {
      justify-content: center;
      align-items: center;
      gap: 50px 10px;
      width: 100%;
    }
  }
}

.excerpt {
  display: flex;
  gap: 46px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__body {
    width: 301px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
  &__body h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #181b32;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &__body p {
    font-weight: 300;
    font-size: 18px;
    line-height: 190%;
    text-align: center;
    color: #666680;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}
