.App {
  font-family: "Lexend Deca", sans-serif;
  overflow: hidden;
  width: 100%;
  margin: 10px auto;
  margin-bottom: 0px;
  @media (max-width: 800px) {
    margin: 0px;
  }
}
.head_container {
  max-width: 1372px;
  width: auto;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: #fff5f1;
  border-radius: 40px;
  align-items: center;
  justify-content: space-around;
  @media (max-width: 1200px) {
    max-width: 99%;
    margin: auto;
  }
  @media (max-width: 992px) {
    max-width: 95%;
    margin: auto;
  }
  @media (max-width: 800px) {
    max-width: 100%;
    margin: 0px;
    border-radius: 0px;
  }
}
